---
title: Ginger Hawthorne
layout: default
---

<style>
	#accounts section {
		float: left;
		width: 25%;
	}
	#accounts section:nth-child(4n+1) {
    	clear: left;
	}
	#accounts h2, ul {
		text-align: center;
	}
	#accounts li {
		padding: .5rem 0;
		text-align: center;
		list-style: none;
	}
</style>

I've spent a long time lurking in many corners of the internet, and I've picked up a lot of profiles to keep track of. Feel free to connect with me wherever you feel most comfortable.

<div id="accounts">
{% assign categories = site.data.accounts | group_by: "category" %}
{% for category in categories %}
<section>
	<h2>{{ category.name }}</h2>
	<ul>
	{% for account in category.items %}
		<li><a rel="me" href="{{ account.url }}">{{ account.name }}</a></li>
	{% endfor %}
	</ul>
</section>
{% endfor %}
</div>
