---
title: Ginger Hawthorne
layout: default
---

<style>
	#accounts h2, ul {
		clear: both;
		text-align: center;
	}
	#accounts li {
		float: left;
		width: 25%;
		padding: .5rem 0;
		text-align: center;
		list-style: none;
	}
</style>
<div id="accounts">
{% assign categories = site.data.accounts | group_by: "category" %}
{% for category in categories %}
	<h2>{{ category.name }}</h2>
	<ul>
	{% for account in category.items %}
		<li><a rel="me" href="{{ account.url }}">{{ account.name }}</a></li>
	{% endfor %}
	</ul>
{% endfor %}
</div>
