---
---

<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" href="/assets/favicon.png">
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
    </head>
    <body>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </body>
  <div class="copyright info vcard">
    &copy; 2025
    <img class="g photo" alt="" src="assets/g.png" width="24" height="24">
    <a class="fn url" href="/">Gingere Hawthorne</a></div>
</html>
