---
---

<!doctype html>
<html>
    <head>
      {% if page.title %}
        <title>{{ page.title }}</title>
      {% endif %}
        <link rel="shortcut icon" href="/assets/favicon.png">
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
    </head>
    <body>
      {% if page.title %}
      <h1>{{ page.title }}</h1>
      {% endif %}
      {{ content }}
    </body>
  <div class="copyright info vcard">
    &copy; <a href="/archive/">{{ site.posts[-1].date|date:"%Y" }}–{{ site.posts[0].date|date:"%Y" }}</a>
    <img class="g photo" alt="" src="/assets/g.png" width="24" height="24">
    <a class="fn url" href="/">Ginger Hawthorne</a></div>
</html>
