---
layout: default
---
<link rel="prev" href="{{ page.previous.url }}">
<link rel="next" href="{{ page.next.url }}">
{% if page.series %}
<div class="info">
  {{ page.series }}: {{ page.part }}
</div>
{% endif %}
<div class="info">
  on {{ page.date|date:"%-d %b %Y" }}
  {% unless page.tags == empty %}
    about
    {% for tag in page.tags %}{% if forloop.length > 1 %}{% if forloop.last %} and {% elsif forloop.first %}{% else %}, {% endif %}{% endif %}
      <a href="/tags/#{{ tag }}">{{ tag }}</a>{% endfor %}
  {% endunless %}
</div>

{{ content }}
