---
layout: default
---
<link rel="prev" href="{{ page.previous.url }}">
<link rel="next" href="{{ page.next.url }}">
<div class="info">
  by <a href="/about/">Gigner Hawthorne</a>
  on {{ page.date|date:"%-d %b %Y" }}
  {% unless page.tags == empty %}
    about
    {% for tag in page.tags %}
      {% if tag.last %} and {% endif %}{{ tag }}{% unless tag.last %},{% endunless %}
      ({% if tag.first %}first{% endif %} {%if tag.last %}last{% endif %})
    {% endfor %}
  {% endunless %}
</div>

{{ content }}
